<div class="card w-100 my-5">
  <div class="card-body">
    <button class="btn btn-primary" [routerLink]="['/jogadores/novo']">
      Novo Jogador    </button>
    <router-outlet></router-outlet>
    <h2 class="card-title text-center">{{ lista }}</h2>
    <table class="table">
      <thead></thead>
      <tbody>
        <a ng-click="reload()"></a>
<!--         <script>
          $scope.reload = function () {
            location.reload(); };
        </script> -->
        <tr *ngFor="let jogd of jogadores">
          <td>{{ jogd.id }}</td>
          <td>{{ jogd.nome }}</td>
          <td>{{ jogd.sobrenome }}</td>
          <td>{{ jogd.status }}</td>
          <td>{{ jogd.categoria }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
