<div>{{ partida?.jogadorA?.nome }}</div>
<div>{{ partida?.jogadorB?.nome }}</div>

<input
  type="button"
  class="btn btn-outline-dark"
  data-mdb-ripple-color="dark"
  value="popular campos"
  (click)="onEditGameFormClicked()"
/>
<form #gameForm="ngForm" (ngSubmit)="updateGame(gameForm.value)">
  <input type="number" name="pontosA" ngModel />
  <input type="number" name="pontosB" ngModel />
  <input
    type="submit"
    class="btn btn-outline-dark"
    data-mdb-ripple-color="dark"
    value="Pontuação"
  />
</form>
