<div class="card w-100 my-5">
    <div class="card-body">
        <button class="btn btn-primary" [routerLink]="['/partidas/nova']">Nova Partida</button>
        <h2 class="card-title text-center">{{ lista }}</h2>
        <table class="table">
            <thead> </thead>
            <tbody>
                <tr *ngFor="let ptd of partidas">
                    <!-- <td>{{ jogador.id }}</td> -->
                    <td>{{ ptd.jogadores[0].nome }}</td>
                    <td>{{ ptd.gamesVencidosA }}</td>
                    <td> X </td>
                    <td>{{ ptd.gamesVencidosB }}</td>
                    <td>{{ ptd.jogadores[1].nome }}</td>
                    <td>{{ ptd.partidaStatus }}</td>
<!--                     <td>
                        <button class="btn btn-primary" [routerLink]="['/jogador', jogador.id]">Detalhes</button>
                    </td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>