<div class="card w-100 my-5">
  <div class="card-body">
    <button class="btn btn-primary" [routerLink]="['/partidas/nova']">
      Nova Partida
    </button>
    <h2 class="card-title text-center">{{ lista }}</h2>
    <table class="table">
      <thead></thead>
      <tbody>
        <tr *ngFor="let ptd of partidas">
          <td>{{ ptd.id }}</td>
          <td>{{ ptd.jogadorA.nome }}</td>
          <td>{{ ptd.gamesVencidosA }}</td>
          <td>X</td>
          <td>{{ ptd.gamesVencidosB }}</td>
          <td>{{ ptd.jogadorB.nome }}</td>
          <td>{{ quantidadeGames(ptd) }}</td>
          <td>
            <div class="dropdown">
              <button
                class="btn btn-primary {{ statusPartidaColor(ptd) }} dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {{ ptd.partidaStatus }}
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div *ngIf="!partidaCancelada(ptd)">
                  <li><a class="dropdown-item" [routerLink]="['/partida', ptd.id]">Expandir</a></li>
                </div>
                <div *ngIf="partidaPreparadaEJogadoresDisponiveis(ptd)">
                  <li><a class="dropdown-item" (click)="iniciarPartida(ptd.id)">Iniciar</a></li>
                </div>
                <div *ngIf="partidaInterrompidaEJogadoresDisponiveis(ptd)">
                  <li><a class="dropdown-item" (click)="continuarPartidaInterrompida(ptd.id)">Continuar</a></li>
                </div>
                <div *ngIf="partidaEmAndamento(ptd)">
                  <li><a class="dropdown-item" (click)="interromperPartida(ptd.id)">Interromper</a></li>
                </div>
                <div *ngIf="partidaPreparada(ptd)">
                  <li><a class="dropdown-item" (click)="cancelarPartida(ptd.id)">Cancelar</a></li>
                </div>
                <div *ngIf="partidaEmAndamento(ptd)">
                  <li><a class="dropdown-item" (click)="finalizarPartida(ptd.id)">Finalizar</a></li>
                </div>
                <div *ngIf="partidaCancelada(ptd)">
                  <li><a class="dropdown-item" (click)="removerPartida(ptd.id)">Remover</a></li>
                </div>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
