<div class="card w-100 my-5">
  <div class="card-body">
    <button class="btn btn-primary" [routerLink]="['/partidas/nova']">
      Nova Partida
    </button>
    <h2 class="card-title text-center">{{ lista }}</h2>
    <table class="table">
      <thead></thead>
      <tbody>
        <tr *ngFor="let ptd of partidas">
          <td>{{ ptd.id }}</td>
          <td>{{ ptd.jogadorA.nome }}</td>
          <td>{{ ptd.gamesVencidosA }}</td>
          <td>X</td>
          <td>{{ ptd.gamesVencidosB }}</td>
          <td>{{ ptd.jogadorB.nome }}</td>
          
          <!-- <td>{{ ptd.partidaStatus }}</td> -->
          <td>{{ quantidadeGames(ptd) }}</td>
          <td>
            <button class="btn btn-primary" [routerLink]="['/partida', ptd.id]">
              {{ ptd.partidaStatus }}
            </button>
          </td>
<!--           <td>
            <button class="btn btn-secondary" (click)="iniciarPartida(ptd.id)">
              {{ ptd.partidaStatus }}
            </button>
          </td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
