<table class="table">
  <tbody>
    <tr>
      <td>Partida ID:</td>
      <td>{{ partida?.id }}</td>
    </tr>
    <tr>
      Duração:
      {{
        duracao()
      }}
    </tr>
    <table>
      <tr>
        <td>{{ partida?.jogadorA?.nome }}</td>
        <td>{{ partida?.gamesVencidosA }}</td>
        <td>X</td>
        <td>{{ partida?.gamesVencidosB }}</td>
        <td>{{ partida?.jogadorB?.nome }}</td>
      </tr>
    </table>
    <app-games-partida-form></app-games-partida-form>
    <tr>
      <td>Status: {{ partida?.partidaStatus }}</td>
    </tr>
    <td>
      <div *ngIf="partidaPreparadaEJogadoresDisponiveis(partida!)">
        <button
          class="btn btn-secondary"
          (click)="iniciarPartida(partida?.id!)"
        >
          Iniciar
        </button>
      </div>
      <div *ngIf="partidaInterrompidaEJogadoresDisponiveis(partida!)">
        <button
          class="btn btn-secondary"
          (click)="continuarPartidaInterrompida(partida?.id!)"
        >
          Continuar
        </button>
      </div>
    </td>
    <tr>
      <td>Primeiro sacador: {{ primeiroSacador() }}</td>
      <td>Game atual: {{ gameAtualIndice() }}</td>
    </tr>
  </tbody>
</table>
